version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  open-pull-requests-limit: 20
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/Berlin
  labels:
  - dependencies
- package-ecosystem: npm
  directory: "/"
  open-pull-requests-limit: 20
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/Berlin
  labels:
  - dependencies
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/Berlin
